
@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    //background-color: #f1f1f1;
    //font-size: 1.15vw;
    font-size: calc(12px + .25vw);
}

* {
    color: black;
    font-family: 'Nunito', sans-serif !important;
    //background-color: #f1f1f1;
}

.greenBtn {
    background-color: green;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    //box-shadow: 0px 0px 1px #262626;
    opacity: 90%;
    width: 20vw;
    height: 5vh;
    margin: .25vmin;

    &:hover {
        background-color: green;
        opacity: 100%;
    }
}

.redBtn {
    background-color: crimson;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    //box-shadow: 0px 0px 1px #262626;
    opacity: 90%;
    width: 20vw;
    height: 5vh;
    margin: .25vmin;

    &:hover {
        background-color: crimson;
        opacity: 100%;
    }
}

.checked {
    color: #ccc;
}
